{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Secular+One&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'css/homepageStyle.css' %}" /> 
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css" />
    <title>Profile Dropdown</title>
    <style>
        .popup {
            position: fixed;
            bottom: 20px;
            right: 20px;
            background-color: var(--light-blue);
            color: var(--blue);
            padding: 15px;
            border: 1px solid var(--blue);
            border-radius: 5px;
            box-shadow: var(--shadow);
            z-index: 1000;
            display: none;
        }

        .popup .close {
            margin-left: 10px;
            cursor: pointer;
        }
    </style>

</head>
<body>
<header>
    <nav class="navbar">
        <img src="{% static 'img/logo2.png' %}" class="navbar-logo" alt="logo" />
        <ul class="navbar-list">
            {% for link, name in nav %}
                <li><a href="{{ link }}">{{ name }}</a></li>
            {% endfor %}
        </ul>

        <div class="profile-dropdown">
            <div onclick="toggle()" class="profile-dropdown-btn">
                <div class="profile-img" >
                    {% if profile.profile_picture %}
                        <img class="profile-img" src="{{ profile.profile_picture.url }}" alt="Profile Picture" />
                    {% else %}
                        <img class="profile-img" src="/media/profile_pictures/profile.png" alt="Default Profile Picture" />
                    {% endif %}
                    <i class="fa-solid fa-circle"></i>
                    
                    <i class="fa-solid fa-circle"></i>
                </div>

                <span> {{profile.Nama}} <i class="fa-solid fa-angle-down"></i> </span>
            </div>

            <ul class="profile-dropdown-list">
                <li class="profile-dropdown-list-item">
                    <a href="/User/">
                        <i class="fa-regular fa-user"></i> Edit Profile
                    </a>
                </li>

                <hr />

                <li class="profile-dropdown-list-item">
                    <a href="logout">
                        <i class="fa-solid fa-arrow-right-from-bracket"></i> Log out
                    </a>
                </li>
            </ul>
        </div>
    </nav>

    {% if messages %}
        <div class="messages">
            {% for message in messages %}
                <div class="popup" id="popup{{ forloop.counter }}">
                    {{ message }}
                    <span class="close" onclick="closePopup({{ forloop.counter }})">&times;</span>
                </div>
                <script>
                    setTimeout(function() {
                        document.getElementById('popup{{ forloop.counter }}').style.display = 'block';
                    }, 1000); // Delay before showing the popup

                    setTimeout(function() {
                        closePopup({{ forloop.counter }});
                    }, 6000); // Automatically close after 5 seconds

                    function closePopup(id) {
                        document.getElementById('popup' + id).style.display = 'none';
                    }
                </script>
            {% endfor %}
        </div>
    {% endif %}


    <section class="container">
        <div class="container-text">
            <h2>Welcome to EduRoom, {{profile.Nama}}!</h2>
            <p>We're glad to have you here. Enjoy effortless room booking!</p>
        </div>
    </section>

    <section class="wrapper">
        
        <form method="get" action="{% url 'hasilPencarian' %}">
            <div class="search">
                {% csrf_token %}

                <input type="text" name="query" placeholder="Masukkan ID Ruangan" value="{{ query }}" onkeyup="search(event)"> <!-- Tambahkan atribut name="query" dan value="{{ query }}" -->
                <button><i type= 'submit' class="fa-solid fa-magnifying-glass"></i> Search</button>
            </div>
        </form>
        
        <ul class="result">
            <li>
                <i class="fa-solid fa-magnifying-glass"></i> <a href="#">coffeshop</a>
            </li>
            <li>
                <i class="fa-solid fa-magnifying-glass"></i> <a href="#">drug store</a>
            </li>
            <li>
                <i class="fa-solid fa-magnifying-glass"></i> <a href="#">toilet</a>
            </li>
        </ul>
    </section>
</header>



<div class="card-container">
    <div class="row">
        {%if request.GET.query%}
            {% if queryset %}
                {% for ruangan in queryset %}
                    <div class="image">
                        <img src="{% static 'img/studyroom.jpg' %}" alt="">
                        <div class="details">
                            <h5><i class="fa fa-user"></i> {{ruangan.Kapasitas}}</h5>
                            <h2>{{ ruangan.IdRuangan }}</h2>
                            <p>{{ ruangan.NamaRuangan }}</p>
                            <div class="more">
                                <a class="read-more" href="{% url 'detailRuangan' %}?IdRuangan={{ ruangan.IdRuangan }}">Read More</a>
                                
                             
                            </div>
                        </div>
                    </div>
                {% endfor %}
            {% else %}
                <p style="color: white;">Tidak ada hasil yang ditemukan. <a style="color: white;" href="/Dashboard">Kembali tampilan awal</a></p>
                
            <!-- Ubah dari <li> menjadi <p> -->
            {% endif %}
        {%else%}
            {%if room %}
                {% for ruangan in room %}
                    <div class="image">
                        <img src="{% static 'img/studyroom.jpg' %}" alt="">
                        <div class="details">
                            <h5><i class="fa fa-user"></i> {{ruangan.Kapasitas}}</h5>
                            <h2>{{ ruangan.IdRuangan }}</h2>
                            <p>{{ ruangan.NamaRuangan }}</p>
                            <div class="more">
                                <a class="read-more" href="{% url 'detailRuangan' %}?IdRuangan={{ ruangan.IdRuangan }}">Read More</a>
                                
                                
                            </div>
                        </div>
                    </div>
                {% endfor %}
            {%else%}
                <p style="color: white;">Tidak ada hasil yang ditemukan. <a style="color: white;" href="/Dashboard">Kembali tampilan awal</a></p>
            {%endif%}    
        {% endif %}   




        
    </div>
</div>

<footer>
    <div class="wrapper">
        <p class="copyright">Copyright © 2024 Kelompok 4 P2: angela, althaf, andika, nabila.</p>
    </div>
</footer>

<script src="{% static 'js/homepageJS.js' %}"></script>

</body>
</html>
