<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Detail Ruangan {{IdRuangan}}</title>

    <style>
        table {
          font-family: arial, sans-serif;
          border-collapse: collapse;
          width: 100%;
        }
        
        td, th {
          border: 1px solid #dddddd;
          text-align: left;
          padding: 8px;
        }
        
        tr:nth-child(even) {
          background-color: #dddddd;
        }
        </style>
       
        
</head>
<body>
    {%for detail in detailRuangan%}
        <p>Id Ruangan : {{detail.IdRuangan}}</p>
        <p>Nama Ruangan : {{detail.NamaRuangan}}</p>
        <p>Kapasitas Ruangan: {{detail.Kapasitas}}</p> 
        <p>Lokasi : {{detail.Lokasi}}</p>
        <button><a href="{% url 'reservasi' detail.IdRuangan %}">Reservasi</a></button>

    {%endfor%}

    <button><a href="/Dashboard/">Kembali</a></button>

    <h1>Jadwal Reservasi Ruangan</h1>


    <table>
        <thead>
            <tr>
                <th>Tanggal Pengajuan</th>
                <th>Tanggal Penggunaan</th>
                <th>Waktu Mulai</th>
                <th>Waktu Selesai</th>                                  
              </tr>
        </thead>
        <tbody>
            {%for his_room in historyRuangan %}
            <tr>            
                <td>{{his_room.Tanggal_Pengajuan}}</td>
                <td>{{his_room.Tanggal_Penggunaan}}</td>
                <td>{{his_room.Waktu_Mulai}}</td>
                <td>{{his_room.Waktu_Selesai}}</td>          
            </tr>
            {%endfor%}
        </tbody>
        
      </table>
   

</body>
</html>

