<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Secular+One&display=swap" rel="stylesheet">
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css"
    />
    <link rel="stylesheet" href="historyStyle.css" />
    <title>Document</title>
</head>
<body>
    <header>
        <nav class="navbar">
            <img src="image/logo.png" class="navbar-logo" alt="logo" />
            <ul class="navbar-list">
              <li><a href="#">Home</a></li>
              <li><a href="#">Room</a></li>
            </ul>
      
            <div class="profile-dropdown">
              <div onclick="toggle()" class="profile-dropdown-btn">
                <div class="profile-img">
                  <i class="fa-solid fa-circle"></i>
                </div>
      
                <span
                  > Nabila
                  <i class="fa-solid fa-angle-down"></i>
                </span>
              </div>
      
              <ul class="profile-dropdown-list">
                <li class="profile-dropdown-list-item">
                  <a href="profile.html">
                    <i class="fa-regular fa-user"></i>
                    Edit Profile
                  </a>
                </li>
      
                <hr />
      
                <li class="profile-dropdown-list-item">
                  <a href="login.html">
                    <i class="fa-solid fa-arrow-right-from-bracket"></i>
                    Log out
                  </a>
                </li>
              </ul>
            </div>
          </nav>
    </header>

    
    <div class="container">
        <div class="table">
            <h1>Reservation History</h1>
            <table id="reservationTable">
                <thead>
                    <tr>
                        <th>ID Ruangan</th>
                        <th>Tanggal Pengajuan</th>
                        <th>Tanggal Peminjaman</th>
                        <th>Waktu Mulai</th>
                        <th>Waktu Selesai</th>
                        <th>Status</th>
                        <th>WKeterangan</th>
                        <th>Batalkan</th>
                        <th>Ubah</th>
                    </tr>
                </thead>
                <tbody>
                    <!-- Data akan dimasukkan di sini -->
                    {%for hist in history %}
                      <tr>
                          <td>{{hist.idRuangan}}</td>
                          <td>{{hist.Tanggal_Pengajuan}}</td>
                          <td>{{hist.Tanggal_Penggunaan}}</td>
                          <td>{{hist.Waktu_Mulai}}</td>
                          <td>{{hist.Waktu_Selesai}}</td>
                          <td>{{hist.status}}</td>
                          <td>{{hist.Keterangan}}</td>
                          <td><a href="{% url 'delete' hist.id %}">Batalkan</a></td>
                          <td><a href="{% url 'update' hist.id %}">update</a></td>
                      </tr>
                    {%endfor%}
                </tbody>
            </table>
        </div>
        
    </div>

    <script src="historyJS.js"></script>
</body>
</html>