:root {
    --primary: #eeeeee;
    --secondary: #227c70;
    --green: #82cd47;
    --secondary-light: rgb(34, 124, 112, 0.2);
    --secondary-light-2: rgb(127, 183, 126, 0.1);
    --black: #393e46;
    --white: #F4F2EF;
    --light-blue: #94B6EF;
    --blue: #213E60;
    --peach: #DFAEA1;
    --muted-pink: #895159;
  
    --shadow: 0px 2px 8px 0px var(--secondary-light);
  }
  
  * {
    margin: 0;
    padding: 0;
    list-style-type: none;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
  }
  
  html{
    scroll-behavior: smooth;
  }
  
  body {
    height: 100vh;
    width: 100%;
    background-color: var(--white);
    margin: 0; 
    padding: 0; 
  }

  /*nav*/
.navbar {
    display: flex;
    align-items: center;
    height: 70px;
    background-color: var(--blue);
    padding: 0 8%;
    box-shadow: var(--shadow);
  
  }
  
  .navbar-logo {
    cursor: pointer;
    width: 100px;
    max-width: 100%;
    height: auto;
    flex-shrink: 0;
  }
  
  .navbar-list {
    width: 100%;
    text-align: right;
    padding-right: 2rem;
  }
  
  .navbar-list li {
    display: inline-block;
    margin: 0 1rem;
  }
  
  .navbar-list li a {
    font-size: 1rem;
    font-weight: 500;
    color: var(--white);
    text-decoration: none;
    padding: 6px 15px;
    border-radius: 20px;
  }
  
  .navbar-list li a:hover {
    background: var(--white);
    color: var(--blue);
  }
  
  .profile-dropdown {
    position: relative;
    width: fit-content;
  }
  
  .profile-dropdown-btn {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-right: 1rem;
    font-size: 0.9rem;
    font-weight: 500;
    width: 150px;
    border-radius: 50px;
    color: var(--white);
    /* background-color: white;
    box-shadow: var(--shadow); */
  
    cursor: pointer;
    border: 1px solid var(--white);
    transition: box-shadow 0.2s ease-in, background-color 0.2s ease-in, border 0.3s;
  }
  
  .profile-dropdown-btn:hover {
    background-color: var(--light-blue);
    box-shadow: var(--shadow);
  }
  
  .profile-img {
    position: relative;
    width: 3rem;
    height: 3rem;
    border-radius: 50%;
    background: url(image/profile.png);
    background-size: cover;
  }
  
  .profile-img i {
    position: absolute;
    right: 0;
    bottom: 0.3rem;
    font-size: 0.5rem;
    color: var(--peach);
  }
  
  .profile-dropdown-btn span {
    margin: 0 0.5rem;
    margin-right: 0;
  }
  
  .profile-dropdown-list {
    position: absolute;
    top: 68px;
    width: 220px;
    right: 0;
    background-color: var(--blue);
    border-radius: 10px;
    max-height: 0;
    overflow: hidden;
    box-shadow: var(--shadow);
    transition: max-height 0.5s;
    z-index: 999;
  }
  
  .profile-dropdown-list hr {
    border: 0.5px solid var(--white);
  }
  
  .profile-dropdown-list.active {
    max-height: 500px;
  }
  
  .profile-dropdown-list-item {
    padding: 0.5rem 0rem 0.5rem 1rem;
    transition: background-color 0.2s ease-in, padding-left 0.2s;
  }
  
  .profile-dropdown-list-item a {
    display: flex;
    align-items: center;
    text-decoration: none;
    font-size: 0.9rem;
    font-weight: 500;
    color: var(--white);
  }
  
  .profile-dropdown-list-item a i {
    margin-right: 0.8rem;
    font-size: 1.1rem;
    width: 2.3rem;
    height: 2.3rem;
    background-color: var(--white);
    color: var(--light-blue);
    line-height: 2.3rem;
    text-align: center;
    margin-right: 1rem;
    border-radius: 50%;
    transition: margin-right 0.3s;
  }
  
  .profile-dropdown-list-item:hover {
    padding-left: 1.5rem;
    background-color: var(--light-blue);
  }

/*room info*/

.room {
    display: flex;
    align-items: center;
    background-color: var(--white);
    border-radius: 8px;
    box-shadow: 8px 4px 8px 8px rgba(0, 0, 0, 0.2);
    margin: 20px;
    overflow: hidden;
}

.right {
    flex: 2;
}

.room-info {
    padding: 20px;
    margin-left: 200px;
}

.room-info h3 {
    font-size: 24px;
    font-weight: bold;
    color: var(--blue); 
    margin-bottom: 10px;
}

.room-info p, .room-info ul {
    margin: 10px 0;
    color: var(--blue);
}

.room-info ul {
    list-style-type: disc;
    padding-left: 20px;
}

.left {
    flex: 1;
}

.left img {
    width: 100%;
    height: auto;
    
}

.slider-container {
    position: relative;
    overflow: hidden;
    left: 110px;
}

.slider {
    width: 100%;
    display: flex;
    transition: transform 0.5s ease;
}

.slider img {
    flex: 0 0 auto;
    width: 100%;
    height: auto;
    object-fit: cover;
}

.prev,
.next {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(255, 255, 255, 0.5);
    border: none;
    color: black;
    cursor: pointer;
    padding: 10px;
    z-index: 1;
}

.prev {
    left: 0;
}

.next {
    right: 0;
}

.next.disabled,
.prev.disabled {
    display: none;
}


/*button*/
.reserve {
    text-align: center;
    margin-top: -40px;
    z-index: 99;
}

.btn-reserving {
    display: inline-block;
    padding: 10px 20px;
    background-color: var(--secondary);
    color: var(--white);
    text-decoration: none;
    border-radius: 4px;
    text-align: center;
    transition: background-color 0.3s;
}

.btn-reserving:hover {
    background-color: var(--green);
}

/* Popup */
.popup {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: var(--white);
    padding: 5px; /* Adjusted padding */
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    z-index: 1000;
    width: 640px;
    text-align: center;
}

/* Heading styling */
.popup h2 {
    margin-bottom: 20px;
    font-size: 1.5rem;
    color: var(--blue);
}

/* Button styling */
.popup button {
    margin: 10px 5px;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1rem;
    transition: background-color 0.3s ease;
}

/* Specific button styles */
.button-book {
    background-color: var(--secondary);
    color: white;
}

.button-book:hover {
    background-color: var(--green);
}

.button-cancel {
    background-color: var(--muted-pink);
    color: white;
}

.button-cancel:hover {
    background-color: var(--peach);
}

/* Overlay to darken the background */
.overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 999;
}

/* Show popup and overlay when open-popup class is added */
.open-popup {
    display: block;
}

/* Form container */
.form-container {
    width: 100%;
    max-width: 600px;
    margin: auto;
    margin-right: 40px;
    padding: 20px; /* Tambahkan padding */
    text-align: left;
    display: flex;
    flex-wrap: wrap;
}

/* Gaya untuk label */
.form-container label {
    width: 30%;
    text-align: right;
    margin-right: 10px;
    font-weight: bold; /* Tambahkan ketebalan font */
}

/* Gaya untuk input */
.form-container input[type="text"],
.form-container input[type="datetime-local"],
.form-container input[type="date"],
.form-container input[type="time"] {
    width: 65%;
    padding: 8px;
    border: 1px solid #ccc; /* Tambahkan border */
    border-radius: 5px;
    box-sizing: border-box;
    margin-bottom: 10px; /* Beri jarak antara input */
}


/* Button styling */
.popup-button {
    margin-top: -10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1rem;
    transition: background-color 0.3s ease;
    text-align: center; /* Mengatur justifikasi tengah khusus untuk button */
}


/*date & time form*/
.datetime-container {
    display: flex;
    justify-content: space-between; /* Menyusun input secara horizontal */
    width: 100%;
}

.datetime-container .datetime-input {
    flex: 1;
    display: flex;
    align-items: center; /* Untuk membuat label dan input di tengah secara vertikal */
}

.datetime-container .datetime-input label {
    margin-right: 10px;
    flex-basis: 50%; /* Menyesuaikan lebar label */
    text-align: right; /* Mengatur label ke kanan */
}

.datetime-container .datetime-input input {
    flex: 1;
}

/*table name*/
.tableName h2 {
  color: #213E60;
  margin-top: 40px;
  text-align: center;
}

/*table*/
table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}

table, th, td {
  border: 1px solid var(--blue);
}

th, td {
  padding: 10px;
  text-align: center;
}

th {
  background-color: var(--blue);
  color: white;
}





