{%load static%}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Secular+One&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="{% static "css\profileStyle.css" %}">
</head>
<body>
    <div class="container">
        <h1>Account Settings</h1>
        
        <form method="POST" action="{% url 'update_profile' %}" enctype="multipart/form-data"> 
            {% csrf_token %}
            
            <div class="pict">
                <img src="{% if profile.profile_picture %}{{ profile.profile_picture.url }}{% else %}/media/profile_pictures/profile.png{% endif %}" alt="" id="profile_picture_preview">
                <div class="pict-media">
                    <input type="file" class="account-settings-fileinput" name="profile_picture" id="file-input" onchange="previewFile()">
                    <label class="btn btn-outline-primary" for="file-input">Choose File</label>
                    &nbsp;
                    <button  type="button" class="btn btn-default md-btn-flat" onclick="window.location.href='{% url 'reset_image' %}'">Reset</button>
                </div>
            </div>
            
            <div class="profile">
                <div class="form-group">
                    <label class="form-label">SID</label>
                    <input type="text" class="form-control mb-1" value="{{ profile.NIM }}" name="NIM">
                </div>
                <div class="form-group">
                    <label class="form-label">Name</label>
                    <input type="text" class="form-control" value="{{ profile.Nama }}" name="Nama">
                </div>
                <div class="form-group">
                    <label class="form-label">E-mail</label>
                    <input type="text" class="form-control mb-1" value="{{ profile.Email }}" name="Email">
                </div>
                <div class="form-group">
                    <label class="form-label">Current password</label>
                    <input type="password" class="form-control" name="current_password">
                </div>
                <div class="form-group">
                    <label class="form-label">New password</label>
                    <input type="password" class="form-control" name="new_password">
                    <div class="errors">
                        <li id="length" class="invalid">at least 8 characters</li>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-label">Repeat new password</label>
                    <input type="password" class="form-control" name="repeat_new_password" minlength="8">
                </div>
                <div class="confirm">
                    <button type="submit" class="btn-a">Save Changes</button>
                    <button type="button" class="btn-b" onclick="window.location.href='/Dashboard';">Cancel</button>
                </div>
            </div>
        </form>

    </div>
    

        
    </div>
    <script src="{% static "js\profileJS.js" %}"></script>
</body>
</html>
